@import "tailwindcss";

@font-face {
  font-family: 'Nocturne Mono';
  src: url('./fonts/NocturneMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nocturne Mono';
  src: url('./fonts/NocturneMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: 'Nocturne Mono', monospace;
  --font-sans: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --color-primary: #212122;
  --color-secondary: #bda075;

  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1)
}

body {
  margin: 0;
  font-family: "Nocturne Mono",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-intro {
  @apply text-[13px] leading-relaxed;
  @apply text-primary;
}

.button-primary {
  @apply text-sm tracking-widest;
  @apply bg-transparent text-primary px-4 py-2 rounded-xs cursor-pointer;
  @apply border border-primary;
  @apply transition-all duration-100;

  &:hover {
    @apply bg-primary text-white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}
